{% extends 'base.html' %}


{% block title %} register {% endblock %}
    

{% block content %} 
   
<div class="flex justify-center">
  {% if messages %}
  {% for message in  messages %}
  <div>
    <samp class="text-red-500">
      {{ message }}
    </samp>
  </div>
{% endfor %}
{% endif %}
 </div>
  <div class="flex justify-center py-16">
    
    
        <form action="" method="post">
            {% csrf_token %}
            <label for="">Username</label><br>
            <input class="py-4 px-6 rounded-xl w-80 border-solid  border-2 border-blue-400" type="text" name="username" placeholder="username"><br>

            <label for="">Email</label><br>
            <input class="py-4 px-6 rounded-xl w-80  border-solid border-2 border-blue-400" type="email" name="email" placeholder="email"><br>

            <label for="">Password</label><br>
            <input class="py-4 px-6 rounded-xl w-80  border-solid border-2 border-blue-400" type="password" name="password1 placeholder="password"><br>
   
            <label for="">Password Confirm</label><br>
            <input class="py-4 px-6 rounded-xl w-80  border-solid border-2 border-blue-400" type="password" name="password2" placeholder="password"><br>

           <div class="mt-2">
            <button class="py-3 px-4 bg-gray-800 w-80 rounded-xl text-white" type="submit">Register</button>
           </div>
        </form>
  
  </div>
{% endblock %}